// bower:scss
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$variable: green;


body {
  color: blue;
  a {
    color: $variable;
  }
  
}